:root {
  --primary-color: #000;
  --primary-blue: #0D6EFD;
  --fontsize: 1.25rem;
  --fontsize-mobile: 1rem;
}

body {
  li {
    padding-top: .8rem;
    padding-bottom: .8rem;
  }

  font-size: var(--fontsize-mobile);
  color: var(--primary-color);

  @media screen and (min-width: 768px) {
    font-size: var(--fontsize);
  }

  header {
    .navbar {
      ul {
        li {
          padding: 0;
        }
      }

      .navbar-toggler {
        font-size: 1rem;
      }

      .nav-logos {
        a {
          font-size: .6rem;
          color: #fff;
          display: block !important;

          img {
            max-width: 30px;
            margin-left: 15px;
          }
        }

        h1 {
          font-size: 1rem;
          margin-bottom: 0;

          @media screen and (min-width: 768px) {
            font-size: 1.5rem;
          }
        }
      }

      .nav-link {
        font-size: .75rem;

        @media (min-width: 768px) {
          font-size: 1rem;
        }
      }
    }

    .hero {
      background-image: url('https://www.mikethompson100.com/images/hero.jpg');
      min-height: 25vh;
      background-size: cover;

      @media (min-width: 768px) {
        min-height: 30vh;
      }
    }

    .navTitle {
      margin-top: 49px;

      @media (min-width: 768px) {
        margin-top: 54px;
      }

      h1 {
        margin-bottom: 0;

        @media (min-width: 768px) and (max-width: 991px) {
          font-size: 2.2rem;
        }

        @media (min-width: 992px) {
          margin-bottom: .5rem;
        }
      }

      .navheight {
        min-height: 90px !important;

        @media screen and (min-width: 768px) {
          min-height: 80px !important;
          padding-top: 4px;
          padding-bottom: 4px;
        }
      }

    }
  }

  main {
    min-height: 65vh;

    .ext-links {
      a {
        font-size: .7rem;

        @media (min-width: 768px) {
          font-size: 1rem;
        }
      }
    }

    /* home page */
    &#home {

      ol,
      ul {
        padding-left: 1rem;

        @media screen and (min-width: 768px) {
          padding-left: 2rem;
        }
      }
    }

    /* skills page */
    &#skills {
      #certifications {
        max-width: 992px;

        img {
          background-color: #fff;
          border: 2px solid #000;
          border-bottom: 4px solid var(--primary-blue);
        }
      }

      .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 100px;
        min-height: 100px;
        margin-bottom: 10px;
        padding: 6px;

        img {
          max-width: 145px;
          margin: 10px 0;

          @media screen and (min-width: 768px) {
            max-width: 90px;
            margin: 0;
          }
        }
      }

      .cert {
        background-color: #303030;
        padding: 5px;
        border-radius: 7px;
      }
    }

    /* experience page */
    &#experience {

      ul {
        padding-left: 1rem;

        @media screen and (min-width: 768px) {
          padding-left: 2rem;
        }
      }
    }

    /* about page */
    &#about {
      #headshotContainer {
        height: 161px;
        display: inline;

        #headshot {
          border-radius: 15px;
          max-width: 100px;

          @media screen and (min-width:992px) {
            max-width: 161px;
          }
        }
      }

      .sbm {
        max-width: 24%;
      }

      @media (min-width: 992px) {
        .sbm {
          max-width: 10%;
        }
      }

      #modals {
        .flag {
          min-height: 135px;
        }

        .modal {

          &#colombia,
          &#spain {
            @media screen and (min-width: 768px) {
              .modal-dialog {
                max-width: 85vw;
              }
            }
          }

          img {
            border: 1px solid #ddd;
            border-radius: 10px;
          }

          .modal-header {
            .modal-close-button {
              font-size: 1.75rem;
              background: transparent;
              border: 0;
              margin: calc(-.5* var(--bs-modal-header-padding-y)) calc(-.5* var(--bs-modal-header-padding-x)) calc(-.5* var(--bs-modal-header-padding-y)) auto;
            }
          }

        }

        #brazil {
          &.modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;

            .modal-dialog {
              @media screen and (min-width: 575px) and (orientation: landscape) {
                max-width: 60vw;
                margin: 15px auto;
              }

              .modal-content {
                @media screen and (min-width: 1200px) {
                  max-width: 1021.5px;
                  margin: 0 auto;
                }

                .modal-header {
                  padding: .5rem;

                  a {
                    font-size: .85rem;
                    color: green;
                    font-weight: bold;
                  }

                  .modal-title {
                    font-size: 1.2rem;

                    @media screen and (min-width: 768px) {
                      font-size: 1.5rem;
                    }

                    ;
                  }
                }

                .video-wrapper {
                  position: relative;
                  width: 100%;
                  padding-bottom: 56.25%;
                  height: 0;
                  overflow: hidden;
                  background: black;
                  border-radius: 5px;

                  iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    pointer-events: auto;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  footer {
    margin: 50px 0 25px;

    .footer-bg {

      img {
        max-width: 40px;
        margin-right: 4px;
        margin-left: 2px;
      }

      .bord {
        border-right: 1px solid black;
      }

      a {
        margin-left: 4px;
        text-decoration: none;
        font-size: .85rem;
        display: inline-block;
        justify-content: center;
      }
    }
  }
}