:root {
    --primary-color: #222;
    --fontsize: 1.25rem;
}
body { font-size: var(--fontsize); color: var(--primary-color); }
@media (min-width: 576px) {
    .modal-dialog { max-width: 80vw !important; }
}
.navbar-toggler { font-size: 1rem }

.navbar-brand, .nav-link { font-size: .75rem;}
@media (min-width: 768px) {
    .navbar-brand, .nav-link { font-size: 1rem;}
}

main {min-height: 65vh; }
.cert { background-color: #303030; padding: 5px; border-radius: 7px; }
button { border-radius: 4px; }
ol li { padding-top: .8rem; padding-bottom: .8rem; }

.sbm { max-width: 10%; }
#brazil iframe { min-height: 65vh; min-width: 65vw; }

#skills ul { list-style-type: none; }
#skills .logo img { max-width: 100px; }
.logo { display: flex; flex-direction: column; align-items: center; justify-content: center; min-width: 100px; min-height: 100px; margin-bottom: 10px;  padding: 6px; }


footer { margin: 75px 0 0; }
footer img { max-width: 50px; }
footer a { margin: 4px 10px; text-decoration: none; }
footer .footer-bg { padding: 15px 25px; }

