:root {
    --primary-color: #222;
    --fontsize: 1.25rem;
}
body { font-size: var(--fontsize); color: var(--primary-color); }
@media (min-width: 576px) {
    .modal-dialog { max-width: 80vw !important; }
}
.navbar-toggler { font-size: 1rem }

.navbar-brand, .nav-link { font-size: .75rem;}
@media (min-width: 768px) {
    .navbar-brand, .nav-link { font-size: 1rem;}
}

.cert { background-color: #303030; padding: 5px; border-radius: 7px; }
button { border-radius: 4px; }
ol li { padding-top: .8rem; padding-bottom: .8rem; }

.sbm { max-width: 10%; }
#brazil iframe { min-height: 65vh; min-width: 65vw; }

#skills ul { list-style-type: none; }
#skills .logo img { max-width: 100px; }
.logo { display: flex; flex-direction: column; align-items: center; justify-content: center; min-width: 100px; min-height: 100px; margin-bottom: 10px; border: 1px solid #ddf; border-radius: 20px; padding: 6px; }

@keyframes slow-rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  img.rotate {
    animation: slow-rotate 50s linear infinite;
  }



footer { margin-bottom: 100px; }